node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337


#development notes
notes/


#username and password for the database, don't want this on git
#see the connection.json.template file for the format
backend/connection.json
